/* Página Contacto */
.graficos {
  background-image: url("/src/images/Contacto/contacto.gif");
  background-repeat: no-repeat;
  background-size: clamp(350px, 40%, 900px);
  background-position: 56vw;
}

.form-control {
  border-color:#575b5e !important;
}

.form-label {
  font-weight: 700;
}

#Mensaje {
  width: 50%;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .graficos {
    background: none;
  }

  .graficos::after {
    content: "";
    height: 100vh;
    width: 100%;
    background: url("/src/images/Contacto/contacto.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: opacity(35%);
    -webkit-filter: opacity(35%);
    position: fixed;
    top: 18rem;
    left: 1.6rem;
    z-index: -1;
  }
}
