/* Página Contacto */
.graficos {
  background-image: url("/src/images/Contacto/contacto.gif");
  background-repeat: no-repeat;
  background-size: clamp(350px, 40%, 900px);
  background-position: 56vw;
}

#Mensaje {
  width: 50%;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .graficos {
    background: none;
  }
}
