/* Página Contacto */
.graficos {
  background-image: url("/src/images/Contacto/contacto.gif");
  background-repeat: no-repeat;
  background-size: clamp(350px, 40%, 900px);
  background-position: 56vw;
}

#Mensaje {
  width: 50%;
  height: 100px;
}

@media screen and (max-width: 576px) {
  .graficos {
    background: none;
  }

  .graficos::after {
    content: "";
    width: 100%;
    height: 100vh;
    filter: opacity(40%);
    background: url("/src/images/Contacto/contacto.gif");
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    top: 15rem;
    left: 0;
  }
}
