@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Nunito&family=Roboto:wght@100&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100%;
}

/* Página de Inicio */
.btn-arriba{
    font-size: 50px; 
   /*  top: 50%;  */
     opacity: .7;  
    cursor: pointer; 
  /*   transform:translate(0px, 450%) */
  }
  
  .hideX{
    overflow-x:hidden;
  }
  
  .change-Color {
    transition: 0.8s;
  }
  .boton-principal{
    background-color: #6BBBAE !important;
  }

/* Navbar */

#navbarStyle {
  position: sticky;
  top: 0;
  padding: 0;
  z-index: 9;
  width: 100%;
  background-color: #111
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #6BBBAE;
}

/* Banner */

#portada-principal {
  width: 100%;
  display: flex;
  margin-top: 0px;
  height: 90vh;
}

.banner {
  height: 90%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

#particles {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main Title */

.title {
  font-size: 3rem;
  font-family: 'Lusitana', serif;
  text-align: center;
  color: #6BBBAE;
}

/* Services Section */

.service-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.servicesTitle {
  font-size: 4rem;
  text-align: justify;
  color: #6BBBAE;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.serviceTitle {
  font-family: 'Nunito', sans-serif;
  color: #8C5E58;
}

.serviceDescr {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
}

.serviceItem {
  font-size: 18px;
  text-align: center;
}

.moreBtn {
  position: absolute;
  bottom: 5px;
  right: 0px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  width: 13rem;
  height: auto;
}

.moreBtn .circle {
  transition: all 0.45s
  cubic-bezier(0.65, 0, 0,076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #8C5E58;
  border-radius: 1.625rem;
}

.moreBtn .arrow_icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  transition: all 0.45s
  cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.moreBtn .arrow_icon::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.moreBtn .button_text {
  transition: all 0.45s
  cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  inset: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

.moreBtn:hover .circle {
  width: 90%;
}

.moreBtn:hover .arrow_icon {
  background: #fff;
  transform: translate(1rem, 0);
}

/* Infraestructura */
.divInfraImg {
  background-color: #8C5E58;
  height: 2rem;
  width: 90%;
  float: right;
}

.infraItem {
  background-color: #F2D7A7;
  border-radius: 15px;
  padding: 0.5rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: fit-content;
}

/* Retail */
.underline {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #6BBBAE;
  text-underline-offset: 15px;
  color: #6BBBAE;
  text-align: center;
}

/* Salud */

.healthText {
  margin: auto;
  color: #434242;
}

.healthItems {
  height: 150px;
  width: fit-content;
}

.healthItem {
  border-radius: 10px;
  background-color: #F2D7A7;
  padding: 0px;
  height: 150px;
  width: 90%;
}

.healthImg {
  height: 50rem;
}

/* Movilidad */

.itemCar {
  color: #FFFFFF;
  background-color: #6BBBAE;
  display: flex;
  align-items: center;
}

/* Banca */
.circle {
  background: #F2D7A7;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.bancaItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  z-index: 2;
}

.brownBackgr {
  background-color: rgb(140, 94, 88);
}

@media (min-width: 1000px){
  /* Infraestructura */

  /* Retail */
  .retail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  /* Car */
  .containerCar {
    width: 80%;
    margin: auto;
  }

  /* Movilidad */
  .itemsCar {
    height: 17rem;
    background-color: #6BBBAE;
    position: relative;
    top: -75px;
  }

}

@media (min-width: 576px) {
  /* Banca */
  .brownBackgr {
    position: absolute;
    top: 20%;
    height: 530px;
    right: 0%;
    width: 95vw;
  }
  .bancaText {
    color: #FFFFFF;
  }

  /* Salud */
  .healthItem {
    margin-left: 1em;
  }
}

@media (max-width: 576px) {
  /* Banca */
  .brownBackgr {
    height: 10px;
  }

  .itemsCar {
    margin: auto;
  }

  .itemCar {
    margin-bottom: 10px;
  }

  /* Salud */
  .healthItem {
    margin-bottom: 1em;
  }

  .healthImg {
    height: 70rem;
  }

  .mainContainerHealth {
    height: fit-content;
  }

  .healthDescrp {
    width: 100%;
  }

  /* Retail */
  .serviceItemsContainer{
    display: flex;
    flex-direction: column;
  }

}

@media screen and (max-width: 376px) {
  .servicesTitle {
    font-size: 3.3rem;
  }
  .service-header {
    flex-direction: column;
  }
}