/* Página Nosotros */
.nosotros-circulo {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f2e1ac;
}

.mision-fondo {
  background-image: url("/src/images/Nosotros/mision.webp");
  position: relative;
}

.vision-fondo {
  background-image: url("/src/images/Nosotros/vision.webp");
  position: relative;
}

.filtro {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
}

.titulo {
  font-size: 56px;
  border-bottom: 5px solid #6BBBAE;
  width: fit-content;
  margin: 0 auto 1rem;
  z-index: 1;
}
  
.text{
  z-index: 1;
  font-weight: bold;
  margin: 0 auto;
  width: 90%;
}
  
  
  
  .nuestroEquipo {
    background-image: linear-gradient(to bottom, rgba(36, 38, 40, 0.5), rgba(33,37,41, 1)), url("/src/images/Nosotros/nuestroEquipo.webp");
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;  
    background-position: center;
    min-height: 350px;
  }
  
  .nuestroEquipo > .textNuestroEquipo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .tituloNuestroEquipo{
    text-align: center;
    font-size: 43px;
  } 
  
  .reverseObserver {
    visibility: hidden
  }
  
  @media screen and (max-width: 576px) {
    .nosotros-circulo {
      width: 20em;
      height: 20em;
    }
  }