body {
  overflow-x: hidden;
}

li {
  font-weight: bold;
}

/* Banner */
.image_wrapper {
  background-image: url("../images/Productos/healthBackgr.png");
  background-size: cover;
  width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

/* Asistencia */
.descrp {
  width: 25em;
  height: 25em;
  border-radius: 50%;
  background-size: 110%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f2e1ac;
  /* background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.945), rgb(0, 0, 0));
  color: white; */
}
.doctorBackgr {
  background-image: url("../images/Productos/healthDoctor.png");
  position: relative;
}
.retailBackgr {
  background-image: url("../images/prueba.png");
  position: relative;
}
.bancaBackgr {
  background-image: url("../images/banca.png");
  position: relative;
}
.infraBackgr {
  background-image: url("../images/Infraestructura1.png");
  position: relative;
}
.transBackgr {
  background-image: url("../images/hols.png");
  position: relative;
}
.filter {
  position: absolute;
  opacity: 0.58;
  width: 100%;
}

.descrpText {
  z-index: 1;
  font-weight: bold;
  margin: auto;
  width: 90%;
  font-size: larger;
  backdrop-filter: blur(2px);
}

.products-img {
    max-width: 100%;
    max-height: 100%;
}

.experts-text {
    font-size: x-large;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-weight: bold;
    text-align: justify;
}

@media screen and (min-width: 1440px) {
  .header {
    text-align: center;
    width: 600px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    width: 300px;
  }
}

@media screen and (max-width: 576px) {
  .image_wrapper {
    padding-top: 4rem;
  }

  .experts-text {
    font-size: 20px;
  }

  .descrp {
    width: 20em;
    height: 20em;
  }

  .header {
    text-align: center;
  }

  .doctorBackgr {
    margin-bottom: 2em;
  }
  
  #imgBackgr {
    height: 100%;
  }
}

@media screen and (max-width: 375px) {
  .descrp {
    width: 16em;
    height: 16em;
  }
}
