.fondo {
    background-image: url("/src/images/lupaExtendidaAgrandada404.png");
    background-repeat: no-repeat;
    position: relative;
    left: 155px; 
  }
.graficos {
    background-image: url("/src/images/graficos.png");
    background-repeat: no-repeat;
  }
 
  .Navtexto {
    text-decoration: none;
    color: white;
  }