* {
  font-family: sans-serif;
}

.fondo {
    background-image: url("/src/images/lupa404.png");
    background-repeat: no-repeat;
    background-size: clamp(300px, 27vw, 800px);
    background-position: 53vw 5vw;
  }

  .lupa {
    visibility: hidden
  }
  @media screen and (max-width: 850px) {
    .fondo {
      background-image: none;
    }
    .tache {visibility: hidden;
    }
    .lupa {
      visibility: visible;
      position: absolute;
      right: 30%;
    }
  }
  @media screen and (max-width: 611px) {
    .lupa {
      visibility: visible;
      position: absolute;
      font-size: 30vw;
      right: 5%;
      
    }
  }
  @media screen and (max-width: 420px) {
    .lupa {
      visibility: hidden;
    }
  }
  
.graficos {
    background-image: url("/src/images/graficosContacto.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 56vw ;
  }
 
  .Navtexto {
    text-decoration: none;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .graficos {
      background-image: none
    }
  }